# Environment variables for production
NODE_ENV=production
MONGO_URI=mongodb://mongo:27017/yourdbname
MONGO_INITDB_ROOT_USERNAME=yourusername      # MongoDB root username
MONGO_INITDB_ROOT_PASSWORD=yourpassword      # MongoDB root password